<% if logged_in? %>
  <p>ログイン完了ユーザ: <%= current_user.name %></p>
<% else %>
  <div class="center jumbotron">
    <div class="text-center">
      <h1>「キレイ」も「悩み」もシェアするなら？</h1>
    </div>
  </div>
<% end %>