<% if logged_in? %>
  <div class="row">
    <div class="col-sm-8">
      <%= render 'posts/posts', posts: @posts %>
    </div>
    <p><%= link_to '投稿する', posts_path %></p>
  </div>
<% else %>
  <div class="center jumbotron">
    <div class="text-center">
      <h1>「キレイ」も「悩み」もシェアするなら？</h1>
      <%= link_to 'Sign up now!', signup_path, class: 'btn btn-lg btn-primary' %>
    </div>
  </div>
<% end %>