<div class="row">
  <div class="toukou">
    <div class="col-sm-8">
      <h1 class="edit_top" >メモの編集</h1>

      <div class="edit_change" >
        <%= link_to 'Myタイムライン へ', root_path %>
        <br>
        <%= link_to 'Myプロフィール へ', user_path(@current_user) %>
      </div>
      <br>
      <%= render 'form', post: @post %>
    </div>
  </div>
</div>